* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: grey;
    padding:10px;
}

li {
    list-style: none; /*circle disc square*/
    display: inline;
    padding: 0px 5px;
    margin: 0px 5px;
}

a {
    text-decoration: none;
    color: white;
}

.nav li.hamburger {
    display: none;
}

@media all and (min-width:400px) and (max-width:600px){
    .nav li.hamburger{
        display: inline;
    }
.nav .toggle{
    
}

}
