.bg{
    background-color: teal
}

.bgImg{
    background-image: url('../../media/sign.jpg');
    background-repeat:  no-repeat;/*repeat-x repeat-y*/
    background-position: right center;/* center right left top bottom*/
    background-position: 

}









